[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/hugo-casper3"]
	path = themes/casper3
	url = git@github.com:jonathanjanssens/hugo-casper3.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/themes/PaperMod"]
	path = themes/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
